<!DOCTYPE html>
<html>

<head>
<script
    src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js">
</script>
<script src="/js/controllers.js"></script>
<link rel=stylesheet href="/css/bootstrap.min.css"></link>
</head>

<body>

<div ng-app="weatherApp" hg-controller="HomeController as homec">
    <p>Name: <input type="text" ng-model="name"></p>
    <p ng-bind="name"></p>
    <p>{{homec.weather.history.dailysummary[0].precipi}}</p>
</div>

</body>
</html>
